# Ambientes Virtuais
venv/
.venv/
env/

# Segurança
.env

# Bancos de Dados Locais
*.db
*.sqlite
*.sqlite3

# Dados Brutos e Processados
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Arquivos de Cache e Sistema
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store